.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-people {
    width: 710px;
    height: 279px;
    background-color: white;
    font-size: 18px;
    font-weight: 400;
    color: black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.height {
    height: 354px;
}

.content {
    width: 89%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-people-text-x-div {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 700;

    span {
        transform: translateY(-4px);
    }
}

.x-div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;

    svg {
        transition: scale 125ms ease-in-out;
    }

    path {
        transition: fill 125ms ease-in-out;
    }

    &:hover {
        background-color: #ECEEFE;

        svg {
            scale: 1.1;
        }

        path {
            fill: #444DF2;
        }
    }
}

.selection-div {
    min-height: 70px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

    .choice-div {
        cursor: pointer;

        .choice-text {
            display: block;
        }
    }

    div {
        /* height: 25px; */
        display: flex;
        align-items: center;
    }

    .checkbox {
        border: 1px solid #ADB0D9;
        width: 20px;
        height: 20px;
        margin-right: 13px;
        border-radius: 100%;
        flex-shrink: 0;

        .point {
            width: 12px;
            height: 12px;
            background-color: #444DF2;
            border-radius: 100%;
        }

        &:hover {
            border-color: #444DF2;
        }
    }

    .office-team {
        color: #535AF1;
        margin-left: 0.3em;
        margin-right: 0.3em;
    }
}

.button-div {
    display: flex;
    justify-content: end;
}

button {
    width: 125px;
    height: 49px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    color: white;
    background-color: #444DF2;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        opacity: 0.7;
    }
}

.disabled {
    background-color: #686868;
    opacity: 1 !important;
}

.input-div {
    height: 55px;
    position: relative;
}

input {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: calc(100% - 41px);
    height: 55px;
    border-radius: 30px;
    background-color: white;
    border: 1px solid #ADB0D9;
    padding: 0px 20px 0px 20px;
    caret-color: black;
    cursor: pointer;

    &::placeholder {
        color: #686868;
    }

    &:focus {
        border: 1px solid #444DF2;
    }

    &:hover {
        border: 1px solid #444DF2;
    }
}

input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #000 !important;
}

.users-added-input-div {
    width: 100%;
    height: calc(100% + 2px);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    border: 1px solid #ADB0D9;
}

.users-added-input-div-inner {
    width: 95%;
    height: 68px;
    overflow-x: auto;
    scrollbar-width: thin;
    display: flex;
    scrollbar-color: #eceefe8f rgba(0, 0, 0, 0);
}

.user-card-x {
    height: 40px;
    border-radius: 35px;
    background-color: #ECEEFE;
    margin-right: 10px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 7px;

    img {
        width: 34px;
        margin-left: 15px;
        border-radius: 100%;
    }

    span {
        white-space: nowrap;
        font-size: 18px;
        font-weight: 400;
        max-width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    svg {
        width: 30px;
        margin-right: 15px;
        cursor: pointer;

        &:hover {
            path {
                fill: #535AF1;
            }
        }
    }
}
