// Base Colors
$white: #FFFFFF; 
$bg-color: #ECEEFE; 
$light-purple: #ADB0D9;  //Lines
$black: #000000; 
$text-gray: #686868; 
$purple-2: #797EF3; 
$purple-3: #535AF1; 
$purple-1: #444DF2; 
$online-green: #92C83E; 
$error: #ED1E79; 
$hover-color: #ebedfcff;

//lukas ???? why !!!
$usersHoverColor: #edefffff;
$avatar-hover-color: #e6e6e6ff;
//Border Radius 

//Margins
$mobileMargin: 16px;

//Font Sizes


// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Mixins
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

