<app-logon-header></app-logon-header>
<section class="sectiond">
    <dialog class="dialog">
        <form #loginForm="ngForm" (ngSubmit)="sendUserToAvatarSelector()">
            <div class="welcome-text">
                <h2>Konto erstellen</h2>
                <p>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto</p>
            </div>
            <div class="sign-in-area">
                <input [(ngModel)]="displayName" id="name-input" name="name" placeholder="Name und Nachname" required
                       type="name"/>
                <input [(ngModel)]="email" id="mail-input" name="email"
                       pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" placeholder="beispielname@email.com" required
                       type="email"/>
                <input [(ngModel)]="password" id="password-input" name="password" placeholder="Passwort" required
                       type="password"/>

                <label class="checkboxItem">
                    <div class="checkbox-container">
                        <input [(ngModel)]="checkboxChecked" class="checkbox" name="checkbox" required
                               type="checkbox"/>
                    </div>
                    Ich stimme der <a class="link-to-data-protection">Datenschutzerklärung</a> zu
                </label>

                <div class="button-area">
                    <button [disabled]="!loginForm.valid" class="primary-btn">Weiter</button>
                </div>
            </div>
            <img [routerLink]="['/logon']" routerLinkActive="router-link-active"
                 src="../../../../assets/icons/goback.svg">
        </form>
    </dialog>
</section>
<app-logon-footer></app-logon-footer>
<div class="user-feedback" id="user-feedback"><img src="../../../../assets/icons/send.svg">Konto erfolgreich erstellt
</div>
