<section>
    <div class="dialog">
        <div class="welcome-text">
            <h2>Anmeldung</h2>
            <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>
        </div>
        <div class="sign-in-area">
            <input id="mail-input" type="text" placeholder="beispielname@email.com">
            <input id="password-input" type="text" placeholder="Passwort">
            <span>Passwort vergessen?</span>
        </div>
        <div class="separator-container">
            <div class="separator-text">ODER</div>
            <div class="separator-line"></div>
        </div>
        <div class="sign-in-button-area">
            <button class="google-button"><img src="../../assets/icons/Google.svg">Anmelden mit Google</button>
        </div>
    </div>
</section>