<div class="chat-container">
    <!-- Header mit Channel-Name und Teilnehmer -->
    <div class="chat-header">
        <div (click)="dialogsService.showEditChannel = true" class="channel-info">
            <span class="hashtag">#</span>
            <span class="channel-name">Entwicklerteam</span>
            <img alt="Dropdown" src="../../../assets/icons-png/arrow-drop-down.png"/>

            <app-edit-channel
                (click)="dialogsService.stopProp($event)"
                *ngIf="dialogsService.showEditChannel"
                [class.closing]="isClosing"
            >
            </app-edit-channel>
        </div>
        <div
            (click)="openEditChannelClick()"
            *ngIf="dialogsService.showEditChannel"
            [class.closing]="isClosing"
            class="app-edit-channel-overlay"
        ></div>

        <!--
        <div class="member-count">
          <div class="member-avatars">
            <img src="../../../assets/img/profile1.png" alt="Member" />
            <img src="../../../assets/img/profile2.png" alt="Member" />
            <img src="../../../assets/img/profile3.png" alt="Member" />
          </div>
          <span>3</span>
          <img
            src="../../../assets/icons-png/add-group.png"
            alt="Add Member"
            class="add-member"
          />
        </div> -->

        <app-add-people-area-middle></app-add-people-area-middle>
    </div>

    <!-- Nachrichten-Bereich -->
    <div class="messages-container">
        <!-- Datum-Trenner -->
        <div class="date-divider">
            <span>Dienstag, 14 Januar</span>
        </div>

        <!-- Erste Nachricht -->
        <div
            (mouseenter)="setHoveredMessage($event, 1)"
            (mouseleave)="setHoveredMessage($event, null)"
            [class.hovered]="hoveredMessageId === 1"
            class="message"
        >
            <app-quick-reactions
                (addComment)="handleAddComment()"
                (openEmojiPicker)="handleQuickReactionEmojiPicker()"
                [isVisible]="hoveredMessageId === 1"
            ></app-quick-reactions>
            <img alt="Noah" class="avatar" src="../../../assets/img/profile1.png"/>
            <div class="message-content">
                <div class="message-header">
                    <span class="username">Noah Braun</span>
                    <span class="time">14:25 Uhr</span>
                </div>
                <p class="message-text">Welche Version ist aktuell von Angular?</p>
                <div class="message-actions">
                    <span class="replies">2 Antworten</span>
                    <span class="last-reply">Letzte Antwort 14:56</span>
                </div>
            </div>
        </div>

        <!-- Datum-Trenner "Heute" -->
        <div class="date-divider">
            <span>Heute</span>
        </div>

        <!-- Zweite Nachricht -->
        <div
            (mouseenter)="setHoveredMessage($event, 2)"
            (mouseleave)="setHoveredMessage($event, null)"
            [class.hovered]="hoveredMessageId === 2"
            class="message"
        >
            <app-quick-reactions
                (addComment)="handleAddComment()"
                (openEmojiPicker)="handleQuickReactionEmojiPicker()"
                [isVisible]="hoveredMessageId === 2"
            ></app-quick-reactions>
            <img
                alt="Frederik"
                class="avatar"
                src="../../../assets/img/profile2.png"
            />
            <div class="message-content">
                <div class="message-header">
                    <span class="username">Frederik Beck</span>
                    <span class="time">15:06 Uhr</span>
                </div>
                <p class="message-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
                    blandit odio efficitur lectus vestibulum, quis accumsan ante
                    vulputate. Quisque tristique iaculis erat, eu faucibus lacus iaculis
                    ac.
                </p>
                <div class="reactions">
                    <div class="reaction">
                        <img alt="Party" src="../../../assets/icons-png/party.png"/>
                        <span>1</span>
                    </div>
                    <div class="reaction">
                        <img alt="Check" src="../../../assets/icons-png/check.png"/>
                        <span>1</span>
                    </div>
                    <img
                        alt="Add Reaction"
                        class="add-reaction"
                        src="../../../assets/icons-png/add-reaction.png"
                    />
                </div>
            </div>
        </div>

        <!-- Dritte Nachricht -->
        <div
            (mouseenter)="setHoveredMessage($event, 3)"
            (mouseleave)="setHoveredMessage($event, null)"
            [class.hovered]="hoveredMessageId === 3"
            class="message"
        >
            <app-quick-reactions
                (addComment)="handleAddComment()"
                (openEmojiPicker)="handleQuickReactionEmojiPicker()"
                [isVisible]="hoveredMessageId === 3"
            ></app-quick-reactions>
            <img alt="Sofia" class="avatar" src="../../../assets/img/profile3.png"/>
            <div class="message-content">
                <div class="message-header">
                    <span class="username">Sofia Müller</span>
                    <span class="time">15:15 Uhr</span>
                </div>
                <p class="message-text">Die aktuelle Version ist Angular 17.</p>
                <div class="reactions">
                    <div class="reaction">
                        <img alt="Thumbs Up" src="../../../assets/icons-png/party.png"/>
                        <span>2</span>
                    </div>
                    <img
                        alt="Add Reaction"
                        class="add-reaction"
                        src="../../../assets/icons-png/add-reaction.png"
                    />
                </div>
            </div>
        </div>

        <!-- Vierte Nachricht -->
        <div
            (mouseenter)="setHoveredMessage($event, 4)"
            (mouseleave)="setHoveredMessage($event, null)"
            [class.hovered]="hoveredMessageId === 4"
            class="message"
        >
            <app-quick-reactions
                (addComment)="handleAddComment()"
                (openEmojiPicker)="handleQuickReactionEmojiPicker()"
                [isVisible]="hoveredMessageId === 4"
            ></app-quick-reactions>
            <img alt="Noah" class="avatar" src="../../../assets/img/profile1.png"/>
            <div class="message-content">
                <div class="message-header">
                    <span class="username">Noah Braun</span>
                    <span class="time">15:30 Uhr</span>
                </div>
                <p class="message-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
                    blandit odio efficitur lectus vestibulum, quis accumsan ante
                    vulputate. Quisque tristique iaculis erat, eu faucibus lacus iaculis
                    ac.
                </p>
                <div class="reactions">
                    <div class="reaction">
                        <img alt="Fire" src="../../../assets/icons-png/party.png"/>
                        <span>3</span>
                    </div>
                    <div class="reaction">
                        <img alt="Heart" src="../../../assets/icons-png/check.png"/>
                        <span>2</span>
                    </div>
                    <img
                        alt="Add Reaction"
                        class="add-reaction"
                        src="../../../assets/icons-png/add-reaction.png"
                    />
                </div>
            </div>
        </div>
    </div>

    <!-- Nachrichten-Input -->
    <div class="message-input">
        <div class="input-container">
            <div class="input-actions-left">
                <div class="emoji-container">
                    <img
                        (click)="toggleEmojiPicker()"
                        alt="Emoji"
                        src="../../../assets/icons-png/smile.png"
                    />
                    @if (showEmojiPicker) {
                        <div class="centered-emoji-picker">
                            <app-emoji-picker
                                (emojiSelected)="handleEmojiSelected($event)"
                                (closeEmojiPicker)="showEmojiPicker = false"
                            ></app-emoji-picker>
                        </div>
                    }
                </div>
                <img alt="Mention" src="../../../assets/icons-png/email.png"/>
            </div>
            <input
                [(ngModel)]="messageText"
                placeholder="Nachricht an #Entwicklerteam"
                type="text"
            />
            <div class="input-actions-right">
                <img
                    alt="Send"
                    class="send-icon"
                    src="../../../assets/icons-png/send.png"
                />
            </div>
        </div>
    </div>
</div>
