@use '../../../../../shared/css/bootstrap.scss';

.chat-container {
  width: 100%;
  height: 100%;
  @include bootstrap.flex-column;
  background-color: bootstrap.$white;
  border-radius: 30px;
  overflow: hidden;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: bootstrap.$white;
  /* position: relative; */
  z-index: 2;

  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.02),
    0 4px 8px rgba(0, 0, 0, 0.04),
    0 8px 16px rgba(0, 0, 0, 0.06);

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg,
        rgba(bootstrap.$light-purple, 0) 0%,
        rgba(bootstrap.$light-purple, 1) 15%,
        rgba(bootstrap.$light-purple, 1) 85%,
        rgba(bootstrap.$light-purple, 0) 100%);
  }

  .channel-info {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    position: relative;
    border-radius: 20px;

    &:hover {
      background-color: bootstrap.$hover-color;
    }

    .hashtag {
      font-size: 24px;
      color: bootstrap.$purple-1;
    }

    .channel-name {
      font-size: 24px;
      font-weight: 700;
      color: bootstrap.$black;
    }

    img {
      width: 24px;
      height: 24px;
    }
  }

  .member-count {
    display: flex;
    align-items: center;
    gap: 12px;

    .member-avatars {
      display: flex;
      align-items: center;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid bootstrap.$white;
        margin-left: -10px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    span {
      font-size: 20px;
      color: bootstrap.$black;
    }

    img {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
}

.messages-container {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  padding-bottom: 160px;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    margin: 10px 0;
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(bootstrap.$purple-2, 0.4);
    border-radius: 20px;
    border: 4px solid transparent;
    background-clip: padding-box;
    min-height: 40px;
    
    &:hover {
      background: rgba(bootstrap.$purple-2, 0.6);
    }
  }

  // Firefox
  scrollbar-width: thin;
  scrollbar-color: rgba(bootstrap.$purple-2, 0.4) transparent;

  .date-divider {
    text-align: center;
    margin: 20px 0;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
      background-color: bootstrap.$purple-2;
      z-index: 0;
    }

    span {
      position: relative;
      background-color: bootstrap.$white;
      padding: 0 10px;
      color: bootstrap.$text-gray;
      font-size: 14px;
      z-index: 1;
    }
  }

  .message {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
    padding: 8px;
    border-radius: 8px;
    transition: background-color 0.2s ease;
    position: relative;

    &:hover {
      background-color: bootstrap.$bg-color;
    }

    .quick-reactions-centered {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      width: fit-content;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;

      .message-content {
        align-items: flex-end;

        .message-text {
          border-radius: 20px 0 20px 20px;
        }

        .message-header {
          flex-direction: row-reverse;
        }

        .reactions {
          justify-content: flex-end;
        }
      }
    }

    &:nth-child(odd) {
      .message-content {
        align-items: flex-start;

        .message-text {
          border-radius: 0 20px 20px 20px;
        }
      }
    }

    .avatar {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }

    .message-content {
      flex: 1;
      display: flex;
      flex-direction: column;

      .message-header {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 8px;

        .username {
          font-weight: 700;
          color: bootstrap.$black;
        }

        .time {
          color: bootstrap.$text-gray;
          font-size: 14px;
        }
      }

      .message-text {
        color: bootstrap.$black;
        margin-bottom: 8px;
        line-height: 1.4;
        background-color: bootstrap.$bg-color;
        padding: 12px;
        border-radius: 0 20px 20px 20px;
        width: fit-content;
      }

      .message-actions {
        width: 260px;
        height: 25px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .replies {
          font-size: 18px;
          font-weight: 400;
          color: bootstrap.$purple-3;
          cursor: pointer;
        }
        .last-reply {
          width: 136px;
          height: 20px;
          font-size: 14px;
          font-weight: 400;
          color: bootstrap.$text-gray;
        }
      }

      .reactions {
        display: flex;
        gap: 8px;
        align-items: center;
        margin-top: 8px;

        .reaction {
          display: flex;
          align-items: center;
          gap: 4px;
          background-color: bootstrap.$bg-color;
          padding: 4px 8px;
          border-radius: 20px;
          cursor: pointer;

          img {
            width: 20px;
            height: 20px;
          }

          span {
            color: bootstrap.$black;
            font-size: 14px;
          }
        }

        .add-reaction {
          width: 32px;
          height: 32px;
          cursor: pointer;
          transition: scale 0.3s ease;

          &:hover {
            scale: 1.1;
          }
        }
      }
    }
  }
}

.message-input {
  padding: 20px;
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: bootstrap.$white;
  /* z-index: 10; */
  border-radius: 0 0 30px 30px;

  .input-container {
    position: relative;
    background-color: bootstrap.$white;
    border: 1px solid bootstrap.$light-purple;
    border-radius: 20px;
    padding: 16px;
    min-height: 120px;

    input {
      width: calc(100% - 32px);
      min-height: 24px;
      border: none;
      background: none;
      font-size: 18px;
      color: bootstrap.$black;
      position: absolute;
      top: 8px;
      left: 16px;
      padding: 0;
      margin: 0;
      resize: none;
      font-weight: 400;

      &::placeholder {
        color: bootstrap.$text-gray;
        font-weight: 400;
        opacity: 1;
      }

      &:focus {
        outline: none;
        font-weight: 400;

        &::placeholder {
          color: bootstrap.$text-gray;
          font-weight: 400;
        }
      }
    }

    .input-actions-left {
      position: absolute;
      left: 16px;
      bottom: 16px;
      display: flex;
      gap: 4px;

      img {
        width: 32px;
        height: 32px;
        cursor: pointer;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
        box-sizing: border-box;

        &:hover {
          background-color: bootstrap.$light-purple;
          scale: 1.1;
        }
      }
    }

    .input-actions-right {
      position: absolute;
      right: 16px;
      bottom: 16px;
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        cursor: pointer;

        &:hover {
          scale: 1.1;
          filter: brightness(0) saturate(100%) invert(24%) sepia(97%) saturate(1699%) hue-rotate(235deg) brightness(89%) contrast(93%);
        }
      }
    }
  }
}

.emoji-container {
  position: relative;

  app-emoji-picker {
    position: absolute;
    bottom: calc(100% + 380px);
    left: 0;
    z-index: 1000;
  }
}

.centered-emoji-picker {
  position: fixed;
  top: calc(var(--mouse-y) + 20px);
  left: calc(var(--mouse-x) + 20px);
  z-index: 1001;
}