<section class="workspace">
  <img src="../../assets/img/logo.png" alt="DABubble_logo" />
  <input class="searchbar" type="text" placeholder="Devspace durchsuchen" />

  <div class="profile-menu">
    <app-user-menu-header-workspace></app-user-menu-header-workspace>
  </div>

  @if (isDevspaceVisible) {
  <app-devspace (addChannel)="openChannelDialog($event)"></app-devspace>
  }
  <div [class]="getChatClasses()">
    <app-chat></app-chat>
  </div>
  @if (isThreadVisible) {
    <app-thread *ngIf="isThreadVisible" (closeThread)="isThreadVisible = false"></app-thread>
  }
  <div class="workspace-menu-toggle" (click)="toggleDevspace()">
    <img src="../../assets/icons-png/hidden.png" alt="Toggle Menu" />
    <span>{{ getWorkspaceMenuText() }}</span>
  </div>
</section>