$mobileMargin: 16px;


@media (max-width: 600px) {

    .edit-channel {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform: unset;
        border-radius: unset;
    }

    .create-channel-text-x-div,
    .channel-name-div,
    .description-div,
    .button-div {
        margin-left: $mobileMargin;
        margin-right: $mobileMargin;
    }

    .button-div {
        margin-bottom: 43px;
    }

    .mobile-create-channel-text-x-div {
        margin-bottom: 25px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .create-channel-text-x-div {
        margin-top: 43px;
        margin-bottom: 16px;
        font-size: 20px;

        span {
            gap: 5px;

            svg {
                width: 25px;
            }
        }
    }

    .channel-name-edit-div {
        margin-bottom: 29px !important;

        span {
            width: 30px !important;
            height: 30px;
            top: -1px !important;
            right: 0 !important;
            border-radius: 100%;
            background-color: #ECEEFE;
            border: none !important;

            svg {
                transition: scale 125ms ease-in-out;

                path {
                    transition: fill 125ms ease-in-out;
                }
            }

            &:hover {
                svg {
                    scale: 1.1;

                    path {
                        fill: #535AF1;
                    }
                }
            }
        }
    }

    .channel-name-movable {
        left: 0 !important;
        top: 0 !important;
    }

    .channel-name-div .input-div {
        width: 100% !important;
    }

    .description-movable {
        top: 0 !important;
        left: 0 !important;
    }

    .description div:nth-of-type(1) span {
        top: 0 !important;
        right: 0 !important;
    }

    .description .input-div {
        top: 48px !important;
    }

    .description div:nth-of-type(1) span {
        width: 30px !important;
        height: 30px;
        top: -1px !important;
        right: 0 !important;
        border-radius: 100%;
        background-color: #ECEEFE;
        border: none !important;

        svg {
            transition: scale 125ms ease-in-out;

            path {
                transition: fill 125ms ease-in-out;
            }
        }

        &:hover {
            svg {
                scale: 1.1;

                path {
                    fill: #535AF1;
                }
            }
        }
    }

    .description div:nth-of-type(2) {
        max-height: unset !important;
    }

    .movable-text-position-l-b {
        top: 0px !important;
        left: 0px !important;
    }

    .line {
        width: calc(100% - 40px) !important;
    }
}

@media (max-width: 490px) {

    .create-channel-text-x-div span {
        max-width: 242px;
        display: flex;
        align-items: start;

        svg {
            flex-shrink: 0;
        }
    }

    .channel-name-text1 {
        max-height: calc(1.5em * 2);
        line-height: 1.5em;
        white-space: unset;
    }

    .channel-name-div .channel-name {
        display: flex;
        align-items: start;

        svg {
            margin-top: 2px;
        }
    }
}

@media (max-width: 490px) {

    .created-by-movable2 span {
        width: 100% !important;
        max-height: calc(1.5em * 2);
        line-height: 1.5em;
        white-space: unset !important;
        position: unset !important;
        display: block;
    }

    .creted-by .created-by-movable2 {
        height: unset !important;
    }
}

.line-on-edit-mobile {
    margin-left: unset !important;
    width: 100% !important;
}

@media (max-width: 440px) {

    .icon-add-users-div>div {
        width: 264px;
    }
}

@media (max-width: 365px) {

    .icon-add-users-div>div {
        width: 219px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .add-user-icon-div2 {
        margin-right: 4px !important;
    }

    .icon-add-users-div {
        font-size: 16px;
    }
}