@use "../../shared/css/bootstrap.scss";

.description-div {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid #ADB0D9;
    margin-top: 20px;
    margin-bottom: 20px;

    .description {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 30px;
        position: relative;

        >div:nth-of-type(1) {
            height: 28px;
            font-size: 18px;
            font-weight: 700;
            position: relative;

            .description-movable {
                position: absolute;
                left: 0;
                top: 0;
                transition: left 120ms ease-in-out, top 120ms ease-in-out;
            }

            span {
                font-weight: 600;
                color: #535AF1;
                cursor: pointer;
                width: 100px;
                position: absolute;
                top: 0;
                right: 0;
                transition: right 120ms ease-in-out, top 120ms ease-in-out;

                &:hover {
                    font-weight: bold;
                }
            }
        }

        div:nth-of-type(2) {
            max-height: calc(1.5em * 3 + 6px);
            line-height: 1.5em;
            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: #686868 white;
            padding-right: 10px;
            overflow-wrap: break-word;
        }

        .input-div {
            position: absolute;
            top: 28px;
            left: -21px;
            width: calc(100% + 42px);
            height: 60px;

            input {
                width: calc(100% - 40px);
                height: 60px;
                padding: 0px 20px 0px 20px;
            }
        }
    }

    .line {
        border: 1px solid #ADB0D9;
        width: calc(98.8% - 40px);
        margin-left: 20px;
        margin-bottom: 30px;
    }

    .line-on-edit {
        margin-left: 30px;
        width: calc(98.8% - 50px);
    }

    .creted-by {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .created-by-movable,
        .created-by-movable2 {

            position: relative;
            height: 27px;

            span {
                position: absolute;
                top: 0;
                left: 0;
                transition: left 120ms ease-in-out, top 120ms ease-in-out;
            }
        }

        .created-by-movable2 {
            height: 35px;

            span {
                font-size: 24px;
                font-weight: 400;
                white-space: nowrap;
                color: #535AF1;
                width: 384px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

//--------------------------------------------------------------------------------------------

.members {
    border: 1px solid #ADB0D9;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-left: bootstrap.$mobileMargin;
    margin-right: bootstrap.$mobileMargin;
}

.add-people-text-x-div {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 23px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.dropdown-menu-content {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 100%;
    height: 202px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #686868 white;

    .user-div {
        height: 58px;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;

        span {
            overflow: hidden;
            margin-left: 14px;
            margin-right: 12px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .user-div-inner {
        overflow: hidden;
        display: flex;
        align-items: center;
        height: 58px;
        border-radius: 35px;
        cursor: pointer;

        &:hover {
            background-color: bootstrap.$usersHoverColor;
        }
    }

    .profile-icon {
        width: 50px;
        height: 50px;
        flex-shrink: 0;
        margin-left: 12px;
        position: relative;

        img {
            width: 50px;
            border-radius: 100%;
        }

        .profile-icon-active-div {
            width: 14px;
            height: 14px;
            position: absolute;
            right: 0;
            bottom: 0;

            img {
                width: 14px;
            }
        }
    }
}

.icon-add-users-div {
    height: 56px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 400;
    display: flex;
    justify-content: start;

    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        cursor: pointer;
        border-radius: 35px;
        margin-left: 20px;
        width: 282px;

        &:hover {
            background-color: bootstrap.$usersHoverColor;

            svg {
                scale: 1.1;
            }

            path {
                fill: #525af2ff;
            }
        }
    }

    .add-user-icon-div2 {
        width: 32px;
        height: 32px;
        margin-right: 15px;
        margin-left: unset;
        pointer-events: none;

        svg {
            top: 4px;
            left: 6px;
        }
    }
}