@use "../shared/css/variables" as *;

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.dialog {
    @include flex-column;
    justify-content: space-around;
    width: 606px;
    height: 769px;
    border-radius: 30px;
    background-color: white;
}

.welcome-text {
    height: 133px;
    width: 486px;
    @include flex-column;
    justify-content: space-between;

    h2 {
        font-size: 46px;
        color: $purple-1;
    }

    p {
        font-size: 20px;
        color: black;
        text-align: center;
    }
}

.sign-in-area {
    @include flex-column;
    width: 500px;
    height: 222px;
    justify-content: space-between;

    #mail-input {
        background-image: url('../../assets/icons/mail-icon-grey.svg');
        background-position: 30px;
        background-repeat: no-repeat;
        padding-left: 80px;
        box-sizing: border-box;

        &:focus {
            background-image: url('../../assets/icons/mail-icon-black.svg');
        }
    }

    #password-input {
        background-image: url('../../assets/icons/lock-icon-grey.svg');
        background-position: 30px;
        background-repeat: no-repeat;
        padding-left: 80px;
        box-sizing: border-box;

        &:focus {
            background-image: url('../../assets/icons/lock-icon-black.svg');
        }
    }
}

span {
    width: 200px;
    height: 32px;
    color: $purple-2;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 32px;
    border-radius: 30px;
    transition: background-color 0.1s ease-in-out, font-weight 0.1s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: $bg-color;
        font-weight: bold;
    }
}

.separator-container {
    width: 500px;
    @include flex-column;
    justify-content: center;

    .separator-text {
        background-color: white;
        width: 80px;
        color: black;
        z-index: 1;
        text-align: center;

    }

    .separator-line {
        width: 100%;
        border-bottom: solid 1px $text-gray;
        margin-top: -10px;
    }
}

.sign-in-button-area {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;


    .google-btn {
        all: unset;
        @include flex-center;
        width: 100%;
        height: 60px;
        color: $purple-1;
        gap: 16px;
        background-color: $bg-color;
        border-radius: 100px;
        border: solid 1px transparent;

        &:hover {
            cursor: pointer;
            font-weight: 700;
            border: solid 1px $purple-1;
        }
    }

    .primary-btn {
        width: 137px;
    }

    .secondary-btn {
        width: 153px;
    }

}

.link-area {
    gap: 32px;
    @include flex-center;

    .link-container {
        @include flex-center;
        height: 42px;
        color: $purple-2;
        border-radius: 30px;

        &:hover {
            cursor: pointer;
            font-weight: bold;
            border: solid 1px $light-purple;
        }

        a {
            text-decoration: none;
        }
    }

    .legal-notice {
        width: 121px;
    }

    .privacy {
        width: 133px;
    }
}