<section>
    <form #loginForm="ngForm" class="dialog" (ngSubmit)="signUp()">
      <div class="welcome-text">
        <h2>Registrierung</h2>
        <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>
      </div>
      <div class="sign-in-area">
        <input
        [(ngModel)]="name"
        name="name"
        required
        id="name-input"
        type="name"
        placeholder="name"
      />
        <input
          [(ngModel)]="email"
          name="email"
          required
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
          id="mail-input"
          type="email"
          placeholder="example@example.com"
        />
        <input
          [(ngModel)]="password"
          name="password"
          required
          id="password-input"
          type="password"
          placeholder="Passwort"
        />
        <span>Passwort vergessen?</span>
      </div>
      <div class="separator-container">
        <div class="separator-text">ODER</div>
        <div class="separator-line"></div>
      </div>
      <div class="sign-in-button-area">
        <button type="submit" class="submit-button">
          Anmelden
        </button>
      </div>
    </form>
  </section>
  