<div (click)="dialogsService.showMenuForUserMenuHeaderWorkspace = true; dialogsService.showMenuMobileForUserMenuHeaderWorkspace = true"
     class="workspace-user-menu">

    <span>{{ data.name }}</span>
    <div class="user-icon">
        <img [src]="data.avatar"/>

        <div class="profile-icon-active-div center">
            <img *ngIf="!data.online" src="assets/lukas-icons/create-channel/offline.svg">
            <img *ngIf="data.online" src="assets/lukas-icons/create-channel/online.svg">
        </div>
    </div>
    <div class="arrow center">
        <img src="assets/lukas-icons/user-menu-header-mobile/user-menu-header-workspace-arrow.svg"/>
    </div>


    <app-user-menu-header *ngIf="dialogsService.showMenuForUserMenuHeaderWorkspace"></app-user-menu-header>
</div>

<div (click)="dialogsService.showMenuForUserMenuHeaderWorkspace= false; dialogsService.showMenuMobileForUserMenuHeaderWorkspace = false" *ngIf="dialogsService.showMenuForUserMenuHeaderWorkspace"
     class="app-user-menu-header-overlay">
</div>
<app-user-menu-header-mobile
    *ngIf="dialogsService.showMenuMobileForUserMenuHeaderWorkspace"></app-user-menu-header-mobile>

<div (click)="dialogsService.showMyProfileCardForUserMenuHeaderWorkspace = false" *ngIf="dialogsService.showMyProfileCardForUserMenuHeaderWorkspace"
     class="app-my-profile-card-overlay center">
    <app-my-profile-card (click)="dialogsService.stopProp($event)"></app-my-profile-card>
</div>
