@use "../../logon.component.scss";
@use "../../../shared/css/bootstrap.scss";
@import "../../../shared/css/variables";


section {
    @include logon.logon;
}


.headline {
    display: flex;
    width: 110%;
}


input {
    background-image: url('../../../../assets/icons/mail-icon-grey.svg');
    background-position: 30px;
    background-repeat: no-repeat;
    padding-left: 80px;
    box-sizing: border-box;
}


.sectiond {
    @include bootstrap.flex-center;
    width: 100vw;
    height: 100vh;

}


.dialog {
    width: 698px !important;
    height: 469px !important;
    display: flex !important;
    flex-direction: unset !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 !important;
    margin: 0 !important;
}


img {
    z-index: 10;
    height: 40px;
    width: 40px;
    position: relative;
    top: -390px;
    left: -80px;

    &:hover {
        cursor: pointer;
    }
}


form {
    height: 100%;
    width: 486px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 40px;
}


.hint {
    color: $text-gray !important;
}


button {
    width: 170px;
    align-self: flex-end;
}


.user-feedback {
    width: 441px;
    height: 149px;
    background-color: $purple-1;
    color: white;
    font-size: 36px;
    @include flex-center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    position: fixed;
    bottom: -200px;
    right: 10px;
    gap: 32px;
    transition: bottom 0.5s ease-in-out;
    
    img {
        all: unset;
        position: relative;
        width: 36.3px;
        height: 31.28px;
    }
}

.user-feedback.show {
    bottom: 10px;
}