<div [class.show]="isVisible" class="quick-reactions">
    @for (emoji of quickEmojis; track emoji) {
        <div class="reaction-item" (click)="onReactionClick(emoji)">
            {{ emoji }}
        </div>
    }
    <div (click)="onOpenEmojiPicker()" class="reaction-item">
        <img
            alt="Add Reaction"
            class="add-emoji"
            src="assets/icons-png/smile.png"
        />
    </div>
    <div (click)="addComment.emit()" class="reaction-item">
        <span class="comment">💬</span>
    </div>
</div>
