@use "../../../shared/css/bootstrap.scss";

header {
    position: absolute;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 40px 80px 40px 80px;
    z-index: 2;
    gap: 32px;

    img{
        width: 242.11px;
        height: 70px;
    }

    .link {
        
        color: bootstrap.$purple-2;
        font-size: 18px;
        &:hover {
            text-decoration: none;
            cursor: pointer;
        }
    }

    .new-here{
        color: black;
        margin-bottom: 24px;
        font-size: 18px;
    }
}